.sidebar{
    background-color: #393E46;
    height: 100vh;
    width: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10px;
    position: relative;
    transition: width 0.5s linear;
    .top{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-around;
        transition: all .5s;
        img{
            height: 45px;
            transition: all .5s;
       }
       svg{
           font-size: 30px;
           color: #00ADB5;
           transition: all .5s;
       }
    }

    .links{
        margin-top: 40px;
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        transition: all .5s;
        
        a{
            padding-left: 20px;
            color: #fff;
            text-decoration: none;
            margin: 15px;
            display: flex;
            align-items: center;
            gap: 15px;
            font-size: 20px;
            color: #EEEEEE;
            transition: all .5s;
            &:hover{
                color: #00ADB5;
            }
        }
    }

    .bottom{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        position: absolute;
        bottom: 50px;
        transition: all .5s linear;
        img{
            height: 150px;
            transition: all .5s linear;
        }

        h3{
            font-weight: 500;
            text-align: center;
            color: #EEEEEE;
            transition: all .5s linear;
            span{
                font-weight: 700;
                transition: all .5s linear;
            }
        }
    }
}

.small-sidebar{
    background-color: #393E46;
    height: 100vh;
    width: 90px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10px;
    position: relative;
    transition: width 0.5s linear;
    .top{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-around;
        transition: all .5s;
        img{
            height: 25px;
            transition: all .5s;
       }
    }

    .links{
        margin-top: 40px;
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        transition: all .5s;
        a{
            text-decoration: none;
            display: flex;
            justify-content: center;
            margin: 0;
            padding: 0;
            margin-top: 35px;
            font-size: 30px;
            color: #EEEEEE;
            transition: all .5s;
            &:hover{
                color: #00ADB5;
            }
        }
    }

    .bottom{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        position: absolute;
        bottom: 50px;
        transition: all .5s;
        svg{
            color: #EEEEEE;
            font-size: 30px;
            transition: all .5s;
            cursor: pointer;
            &:hover{
                color: #00ADB5;
            }
        }
    }
}