.topbar-app{
    background-color: #222831;
    height: 80px;
    width: 100vw;
    display: flex;
    align-items: center;
    svg{
        color: #00ADB5;
        font-size: 30px;
        transition: all .5s;
        padding-left: 20px;
    }
}