.topbar-app{
    background-color: #222831;
    height: 80px;
    width: calc(100vw - 250px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all .5s;
    .left{
        padding-left: 50px;
        transition: all .5s;
        #menu-icon{
            color: #00ADB5;
            font-size: 30px;
            transition: all .5s;
            padding-left: 20px;
            transition: all .5s;
        }
        svg{
            color: #00ADB5;
            font-size: 25px;
            transition: all .5s;
        }
    }

    .right{
        display: flex;
        padding-right: 50px;
        transition: all .5s;
        svg{
            color: #00ADB5;
            font-size: 25px;
            transition: all .5s;
        }
        .flag{
            height: 12px;
            width: auto;
            transition: all .5s;
        }
        .flag-box{
            height: 5px;
            transition: all .5s;
        }
        .nextui-c-fHdWgw.nextui-user-name{
            color: #eeeeee;
            transition: all .5s;
        }
    }

   
}

.topbar-app-small{
    background-color: #222831;
    height: 80px;
    width: calc(100vw - 90px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all .5s;
    .left{
        padding-left: 10px;
        display: flex;
        align-items: center;
        gap: 20px;
        transition: all .5s;
        #menu-icon{
            color: #00ADB5;
            font-size: 30px;
            transition: all .5s;
            padding-left: 20px;
            transition: all .5s;
        }
        svg{
            color: #00ADB5;
            font-size: 25px;
            transition: all .5s;
        }
    }

    .right{
        display: flex;
        align-items: center;
        gap: 10px;
        padding-right: 50px;
        transition: all .5s;
        svg{
            color: #00ADB5;
            font-size: 25px;
            transition: all .5s;
        }
        .flag{
            height: 12px;
            width: auto;
            transition: all .5s;
        }
        .flag-box{
            height: 5px;
            transition: all .5s;
        }
        .nextui-c-fHdWgw.nextui-user-name{
            color: #eeeeee;
            transition: all .5s;
        }
    }

   
}