.fc-direction-ltr {
    direction: ltr;
    text-align: left;
    width: 100%;
    display: flex;
    justify-content: center;

    .fc-toolbar-title{
        color: #eee;
    }

    thead{
        color: #eee;
    }
    tbody{
        color: #eee;
    }
    .fc .fc-scrollgrid-liquid {
        height: 100%;
        border-radius: 14px;
    
    }

    .fc-scroller {
        overflow: hidden;
    }
    
    
    .fc .fc-scrollgrid-section > * {
        border-top-width: 0;
        border-left-width: 0;
        border-top-right-radius: 14px;
    }
}