.dashboard-container{
    width: 100%;
    height: auto;
    background-color: #222831;
    

    .first-grid{
        display: flex;
        justify-content: space-around;
        padding: 50px 0 0 0;
    }

    .second-grid{
        padding: 50px 0 30px 0;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 20px;
      @media (max-width:1610px){
           display: flex;
           flex-wrap: wrap;
           gap: 20px;
        }  

        .calendar{
            display: flex;
            justify-content: center;
            margin: auto;
        }
    }
}