.dashboard-container{
    width: 85%;
    min-height: 100vh;
    background-color: #222831;
    margin: auto;

    .first-grid{
        width: 100%;
        display: flex;
        justify-content: space-between;
        padding: 50px 0 0 0;

        @media (max-width:1610px){
            justify-content: center;
         }  
    }

    .second-grid{
        width: 100%;
        padding: 50px 0 30px 0;
        display: flex;
        justify-content: space-between;
        gap: 20px;
      @media (max-width:1110px){
           display: flex;
           flex-direction: column;
            align-items: center;
           gap: 20px;
        }  

        .calendar{
            display: flex;
            justify-content: flex-end;
            width: 35%;
            @media (max-width:1110px){
                width: 100%;
             }  
        }
        .nextui-c-fdHeMm{
            margin-left: initial;
            @media (max-width:1110px){
                margin-right: initial;
                width: 93%;
             }  
        }
    }
    .third-row{
        width: 100%;
        padding: 20px 0 30px 0;
        display: flex;
        justify-content: space-between;
        @media (max-width:1110px){
            display: flex;
            flex-direction: column;
             align-items: center;
            gap: 20px;
         }  

        .nextui-c-fdHeMm{
            margin-right: initial;
            margin-left: initial;
            @media (max-width:1110px){
                margin-right: initial;
                width: 93%;
             }  
        }
    }
}