.nextui-c-hEcroZ{
    color: #eee
}
.nextui-c-iFHsrU{
    color: #eee;
}

.nextui-c-jeuecp.nextui-input.nextui-input-disabled{
    color: #eee;
}
.nextui-c-hzQjrs.nextui-input-block-label{
    color: #eee;
}

