#select{
    padding: 0px;
    background: transparent;
    border: none;
    border-radius: 0px;
    outline: none;
    color: #111111;
    border-radius: .875rem;
    height: 40px;
    font-size: 1rem;
    padding-left: 20px;
    min-width: 0px;
    appearance: none;
    border: 1px solid grey;
    }