.inactive{
  position: absolute;
  transform: translateX(-100vw);
  transition: all 1s ease-in-out;
}

.mobile-container {
  width: 50vw;
  height: 100vh;
  background-color: #000b53;
  z-index: 99;
  position: absolute;
  left: 0;
   transition: all 1s ease-in-out;

  svg{
      position: absolute;
      top: 10px;
      right: 10px;
      font-size: 60px;
      color: #fff;

  }

  .links {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    a {
      text-decoration: none;
      position: relative;
      display: inline-block;
      font-size: 2em;
      font-weight: 800;
      overflow: hidden;
      background: linear-gradient(
        to right,
        #073375,
        #073375 50%,
        #fff 50%
      );
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-size: 200% 100%;
      background-position: 100%;
      transition: background-position 275ms ease;

      &:hover{
          background-position: 0 100%;
      }
    }
  }
}
