.todo-container{
background-color: #393e46;
margin: auto;
width: 40vw;
height: auto;
padding-bottom: 30px;

h1{
    color: #fff;
    text-align: center;
}

.row{
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 10px;
    input{
        width: 50%;
        height: 30px;
    }
}

}