.swiper-container {
    width: 100%;
    height: 100%;
  }
  .swiper-slide{
   display: flex;
   justify-content: center;
  }

  .swiper-wrapper{
     
  }

  .swipe-item{
      height: 450px;
      width: 350px;
      background-color: #fff;
      -webkit-box-shadow: 9px 6px 25px -12px rgba(0, 0, 0, 0.329);
      -moz-box-shadow: 9px 6px 25px -12px rgba(0, 0, 0, 0.329);
      box-shadow: 9px 6px 25px -12px rgba(0, 0, 0, 0.329);
      transition: all .3s ease-in-out;
      border-radius: 20px;
  }